img {
  border: 0px solid #000;
  /* padding: 10px; */
}

.pocket {
  height: 200px;
  width: 200px;
  float: left;
  margin: 30px;
}

.giant {
  width: 600px;
  margin: 30px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 260px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}

.garden-button {
  background-color: white;
  width: 92%;
  color: black;
  border: 1px solid black; /* Gray */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: auto;
  min-width: 225px;
  min-height: 200px;
  z-index: 1;
}

.box {
  background-color: white;
  width: 92%;
  color: black;
  border: 1px solid black; /* Gray */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: auto;
  min-width: 225px;
  min-height: 220px;
  padding: 20px 20px 20px 20px;
  z-index: 1;
}

g1 {
  font-family: "Noto Serif SC", serif;
  font-size: 20px;
  font-style: regular;
  font-variant: normal;
  font-weight: 900;
  line-height: 18px;
  padding-bottom: 20px;
}

g2 {
  font-family: "Noto Serif SC", serif;
  font-size: 13px;
  font-style: regular;
  font-variant: normal;
  font-weight: 500;
  line-height: 13px;
  /* padding-top: 5px; */
}

.note {
  background-color: white;
  width: 92%;
  color: black;
  border: 1px solid black; /* Gray */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: auto;
  min-width: 225px;
  min-height: 220px;
  padding: 20px 20px 20px 20px;
  z-index: 1;
}

.note:hover {
  background-color: black; /* Gray */
  color: white;
}
